

:root {
  --primary-color: #c1121f;
  --dark-color: #0b090a;
  --light-color: #f8f9fa;
  --text-color: #212529;
}


body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
  scroll-behavior: smooth;
}

h1, h2, h5 {
  font-family: 'Montserrat', sans-serif;
}



.navbar {
  background-color: var(--dark-color) !important;
}

.nav-link {
  color: #ccc !important;
  transition: color 0.3s ease;
}

.nav-link:hover, .nav-link.active {
  color: var(--primary-color) !important;
}



.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
              url('../img/background.webp') center/cover no-repeat;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.8);
}



.card img {
  height: 220px;
  object-fit: cover;
}

.card {
  border: none;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}



#gallery img {
  transition: transform 0.3s ease;
}

#gallery img:hover {
  transform: scale(1.05);
}



footer {
  background-color: var(--dark-color);
  color: var(--light-color);
}


.navbar {
  background-color: var(--dark-color) !important;
}



.logo {
  height: 30px;   
  
  width: auto;
  margin-right: 8px; 
  
  vertical-align: middle;
}

.nav-link {
  color: #ccc !important;
  transition: color 0.3s ease;
}

.nav-link:hover, .nav-link.active {
  color: var(--primary-color) !important;
}

